@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#userInput:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
body {
    font-family: 'Poppins';
}
#title{
    font-family: 'Poppins';
    margin-top: 100px;
}
h1{
    text-align: center;
}
.container{
    margin-top: 30px;
    width: 600px;
    background-color: #f0f5f9;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    box-shadow:5px 4px 15px 2px darkgray;
}
li{
    margin-bottom: 20px;
    border: 5px;
    
}
#pl{
    border-radius: 5px;
}

#intext::placeholder{
    text-decoration: line-through;
}